@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
  background: rgb(49, 46, 82);
}

.sidebar-wrapper .sidebar {
  background: rgb(36, 36, 70);
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  padding: 20px 0;
  padding-left: 10px;
}

.sidebar-button {
  background: rgb(185, 177, 223);
  height: 45px;
  width: 80%;
  border-radius: 14px;
}

.button-padding {
  padding: 11px;
}

.main-page {
  padding-left: 70px;
  align-content: center;
}
