.App {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
}

.side-menu {
  height: 100vh;
  width: 300px;
  background-color: rgb(58, 60, 99);
}

.side-menu-list {
  height: auto;
  padding: 0;
  margin: 0;
}

.side-menu-row {
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  padding-left: 30px;
  cursor: pointer;
}

.side-menu-list :hover {
  background-color: rgb(50, 52, 88);
}

.side-menu-row #active {
  background-color: aqua;
}

.app-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.link-text {
  color: aliceblue;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.window-body {
  
  height: 100vh;
  color: black;
}

.center-screen {
  padding-left: 300px;
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer {
  padding: 20px;
}

.inc-dec {
  width: 80px;
  height: 80px;
  color: azure;
  background-color: rgb(58, 60, 99);
  border-radius: 10px;
  border: none;
}

.inc-dec:hover {
  background-color: rgb(255, 124, 17);
}

.calc-body {
  background-color: aqua;
}

.calc-button {
  width: 60px;
  height: 60px;
  margin: 4px;
  border-radius: 10px;
  border: none;
  background-color: rgb(71, 71, 71);
  color: white;
}

.calc-input {
  width: 97%;
  height: 50px;
}
